:root {
  --ds-blue: #105366;
  --ds-blue-light: #226d84;
  --ds-yellow: #eeb962;
  --ds-yellow-dark: #ffcd5f82;
  --green: #17c5a6;
  --green-dark: #12967f;
  --blue-light: #64b5f6;
  --blue: #2196f3;
  --blue-dark: #1976d2;
  --teal-light: #4db6ac;
  --teal: #009688;
  --teal-dark: #00796b;
  --red-light: #e57373;
  --red: #f44336;
  --red-dark: #d32f2f;
  --yellow-light: #fff176;
  --yellow: #ffeb3b;
  --yellow-dark: #fbc02d;
  --grey-light: #e0e0e0;
  --grey: #9e9e9e;
  --grey-dark: #616161;

  --ds-header-height: 50px;
  --ds-progress-height: 4px;
  --fsize: 16px;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  font-size: var(--fsize);
  min-width: 420px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
body.ds-gradient {
  background: var(--ds-blue);
  background: linear-gradient(180deg, var(--ds-blue-light) 0%, var(--ds-blue) 100%) no-repeat fixed center;
}


/*=============== CUSTOM BOOTSTRAP ===============*/
.nav {
  width: 100%;
  height: 100%;
}
.nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav .nav-item a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.nav-item a.active {
  color: var(--ds-yellow);
}
.nav-item a:hover {
  color: var(--ds-yellow);
}
.modal-open {
  padding-right: 0px !important;
}

.btn {
  padding: .375rem 1.70rem;
}
.btn-primary {
  background-color: var(--ds-blue-light);
  border-color: transparent;
}
.btn-primary:hover {
  background-color: var(--ds-blue);
  border-color: transparent;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 0.075rem rgba(152, 152, 152, 0.25);
}

/*=============== DATASIGH ===============*/
/* -- loader*/
[class*="with-loader"]::after {
  content: '';
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  border-top-color: rgba(0,0,0,.0);
  border-right-color: var(--ds-blue);
  border-bottom-color: var(--ds-blue);
  border-left-color: var(--ds-blue);
  animation: spin .6s linear infinite;
  z-index: 1040;
  cursor: no-drop;
}
.with-loader-disabled *:not(img) {
  opacity: .55!important;
  pointer-events: none!important;
}
body.with-loader-disabled::after {
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  border-right-color: #e2e2e2;
  border-bottom-color: #e2e2e2;
  border-left-color: #e2e2e2;
  cursor: default;
  position: fixed;
}
body::before {
  position: fixed;
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .5s all;
}
body.with-loader-disabled::before {
  content: '';
  opacity: 1;
  z-index: 900;
  background: var(--ds-blue);
}

input[type=number][class="cpf"]::-webkit-inner-spin-button,
input[type=number][class="tel"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* -- utils classes*/
.ds-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(55, 58, 60, 0.65);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.ds-overlay.active {
  visibility: visible;
  opacity: 1;
}
.center .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.noselect, .noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* -- components*/
.ds-logo {
  background: url(https://mf.srv.br/datasigh-assets/images/datasigh_fundo_transp.png) no-repeat center;
}
.ds-logo-inverso {
  background: url(https://mf.srv.br/datasigh-assets/images/datasigh_fundo_transp_inverso.png) no-repeat center;
}
.logo {
  background-size: 95%;
	min-width: 200px;
  min-height: 50px;
  max-height: 120px;
  margin: 0 auto;
}
.logo.small {
  height: 50px;
}

.ds-header * {
  font-size: 98%;
  color: #fff;
}
.ds-header .ds-header-content {
  background-color: #0b5166;
  height: var(--ds-header-height);
  color: #f3f3f3;
  position: relative;
  overflow-y: auto;
}
.ds-header .ds-left, .ds-header .ds-middle, .ds-header .ds-right {
  height: 50px;
  position: absolute;
  top: 0
}
.ds-header .ds-left {
  left: 1rem;
}
.ds-header .ds-middle {
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  width: 100%;
  max-width: 520px;
}
.ds-header .ds-right {
  right: 1rem;
}
.ds-header p {
  margin: 0;
  font-size: 84%;
  line-height: 1.3;
}
body.with-header-onscroll .ds-header.with-scroll {
  z-index: 1000;
  position: fixed;
  top: -54px;
  width: 100%;
  animation-name: headerDropdown;
  animation-duration: .25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
body.with-header-onscroll .ds-header.with-scroll + .ds-main {
  margin-top: 54px;
}

.ds-login {
  margin: 15vh auto 0 auto;
  max-width: 420px;
  width: 100%;
}
.ds-login .ds-logo {
  width: 90%;
}
.ds-login form button {
  width: 50%;
}
.ds-login form .input-field {
  margin-top: 0;
}
.ds-login .card-content {
  text-align: center;
}
.ds-login .row {
  margin: 0
}

/* .ds-card {
  margin: .5rem auto 0 auto;
  max-width: 900px;
  width: 100%;
} */


.ds-table {
  height: 100%;
  margin: 0;
}
.ds-table li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}
.ds-table li > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ds-table li > div.select {
  overflow: visible;
}
.ds-table li:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.3);
}

.chart.alerta {
  animation-name: alerta;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.ds-progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0;
  overflow: hidden;
}
.ds-progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
}
.ds-bar.determinate.ds-bar-timer {
  width: 0;
}
.ds-bar.determinate.ds-bar-timer.active {
  animation-name: widthStrech;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.ds-bar.indeterminate.inactive {
  animation: unset;
}

.ds-header .ds-middle .tabs {
  width: 100%
}

.ds-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 340px;
}

.container.container-transparent {
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-top: 9vh;
  border-radius: .25rem;
  color: var(--ds-blue);
  font-size:18px
}


/*=============== KEYFRAMES ===============*/
@keyframes spin   {to {transform: rotate(360deg)}}
@keyframes widthStrech {100% {width: 100%}}
@keyframes alerta  {50% {background-color: #ff6b6b}}
@keyframes headerDropdown  {100% {top: 0}}
@keyframes fadeIn  {0% {opacity: 0};100% {opacity: 1}}


/*=============== @MEDIA ===============*/
@media all and (max-width: 1100px) {
  html * {
    font-size: 99%;
  }
}
@media all and (max-width: 992px) {
  .ds-header.with-middle .ds-middle {
    position: relative;
    margin-top: var(--ds-header-height);
    max-width: 100%;
  }
  .ds-header.with-middle .ds-header-content {
    height: calc(var(--ds-header-height) * 2)
  }

  body.with-header-onscroll .ds-header.with-middle.with-scroll {
    z-index: 1000;
    position: fixed;
    width: 100%;
    animation-name: unset;
  }
  body.with-header-onscroll .ds-header.with-middle.with-scroll + .ds-main {
    margin-top: calc(var(--ds-header-height) * 2 + var(--ds-progress-height));
  }

  .row-small .col {
    width: calc((100%/2) - (.5rem));
  }
}
@media all and (max-width: 600px) {
  .card .card-content {
    padding: 12px;
  }
}
@media all and (max-width: 500px) {
  .ds-header .ds-logo {
    /*background: url(https://mf.srv.br/datasigh-assets/images/datasigh_icone_inverso.png) no-repeat center;*/
    background: url(../images/datasigh_icone_inverso.png) no-repeat center;
    background-size: 95%;
    min-width: 30px;
    height: 50px;
    margin: 0 auto;
  }
}
@media all and (max-width: 400px) {
  .card .card-content {
    padding: 0;
  }
  .ds-login {
    width: 95%;
  }
  .ds-login .ds-logo {
    width: 55%;
  }
  .ds-login .card .card-content {
    padding: 12px;
  }
}


/*=============== FALTA ORGANIZAR ===============*/
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  opacity: 1;
}
.logout {
  float: right;
  margin-right: .5rem;
}
